body, html {
  margin: 0;
  height: 100%;
}
.left {
  
  width: 20%;
  background-color: #a2e392;
  float: left;
  height: 100%;
}
.right {
   
  width: 80%;
  background-color: #a70324a7;
  float: left;
  height: 100%;
}
#about{
  background-color: coral;
  margin-top: 30px;
  margin-left: 30px;
}